@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    position: relative;
    font: inherit;
    word-break: break-word;
    transition: all .5s;
  }

  *:disabled {
    opacity: .5;
  }

  html,
  body {
    background-color: #E3DDFF;
  }

  /* Custom Scroll bar */
  ::-webkit-scrollbar {
    width: .3rem;
    height: .3rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #E3DDFF;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2B2644;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #191923;
  }

  /* Custom Scroll bar END */
}

@layer components {

  @keyframes btn-trans {
    0% {
      transform: translateX(0px)
    }
    25% {
      transform: translateX(13px)
    }
    75% {
      transform: translateX(-3px)
    }
    100% {
      transform: translateX(0px)
    }
  }

  .btn-hov:hover .btn-arr-right {
    animation: btn-trans 1s linear infinite;
  }

  .outfade-loc {
    background: linear-gradient(to left, #ebffeb, #ebffeb, #ebffeb, transparent);
  }
}